@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* ROOT FIX (VERY IMPORTANT) */
  html {
    @apply bg-gray-100 dark:bg-gray-900;
  }

  body {
    @apply antialiased;

    /* Allow browser to manage scroll normally */
    overflow-y: auto;

    overflow-x: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;

    @apply text-black dark:text-white bg-gray-100 dark:bg-gray-900;
  }

  /* Hide scrollbar for WebKit browsers */
  body::-webkit-scrollbar {
    display: none;
  }

}

@layer components {
  .form-checkbox {
    @apply h-4 w-4 text-blue-500 rounded border-gray-300 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700;
  }
}